#contenedor404{ 
    height: 100vh;
    flex-direction: column;
    // margin-top: -50px;
}

#imagenError{
     width: 70%;
    margin-top: -30px;
}

#oops{
  font-size: 350%;

}

#fraseError{
    margin-top: -15px;
  font-size: 120%;

}

#btnInicio{
    width: 150px;
    margin-top: 5px;
    background-color: #7bffc6;
    color: white;

}

#btnInicio:hover{
    color: black;

}

@media (max-width: 760px) {
  #imagenError{
     width:120%;

}

#btnInicio{
    margin-top: 20px;
    

}

}