#texto{ 
    text-align: left;
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
 #texto{ 
    font-size: medium;
    text-align: center;
    display: flex;
    flex-direction: column;
}

}