#btnVolver{
    border-color: #b1b251;
    color: white;
}

#btnVolver:hover{
    background-color: #b1b251;
    color: white;

}

.tituloC{
margin-bottom: 60px;
margin-top: -20px;
}

@media (max-width: 1025px) {
 .tituloC{
     margin-top:-50px;
    margin-bottom: 60px;
}
}

@media (max-width: 550px) {
 .tituloC{
     margin-top: 250px;
    margin-bottom: 60px;
}
}

@media (max-width: 415px) {
 .tituloC{
     margin-top: 300px;
    margin-bottom: 60px;
}
}

@media (max-width: 375px) {
 .tituloC{
     margin-top: 480px;
    margin-bottom: 60px;
}
}

@media (max-width: 365px) {
 .tituloC{
     margin-top: 550px;
    margin-bottom: 60px;
}
}

@media (max-width: 325px) {
 .tituloC{
     margin-top: 800px;
    margin-bottom: 60px;
}
}

.blue-bg {
//   background-color: #4D4545;
  color: white;
  height: 100vh;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: white;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid white;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid white;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid white;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}