#cuerpoDetalle{
    
    background: no-repeat;
    background-size: 100%;
    height: 1000px;
    width: 100% ;
    
}

#nombreDetalle{
    // display: inline-block;
    position: absolute;
    padding-bottom: 4px;
   
    
}

#soloTexto{
    margin-bottom: -1px;
    
}

#textoDetalle{
    margin-top: 10px;
    
}

#iconoDetalle{
    margin-left: -20px;
    // z-index: 3;
    
}
#iconoDetalle2:hover{
    color: #7bffc6;
    font-size: large;
   filter: drop-shadow(0 1px 1px rgb(75, 75, 75));
}

#contactoDetalle{
    position: absolute;
    display: inline-block;
}
