body{
    // background: linear-gradient(#77274d,transparent),linear-gradient(90deg,
    // #8c395a,transparent),linear-gradient(-90deg,#d15d8c,transparent);
    background: radial-gradient(circle, #8c395a, #77274d); 
    height: 100%;  
    
    
};

.cuerpoHome{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#botonAmarillo{
    border-color: #b1b251;
    color: white;
}
#botonVerde{
    border-color: #49ac9f;
    color: white;
}

.botonAmarillo:hover{
    background-color:#b1b251;
    color: white;

}
.botonVerde:hover{
    background-color:#49ac9f;
    color: white;

}