#contenedorMensajes{
background-color: rgba(0, 0, 0, 0.2);
}

#mensaje{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
}

#mensaje2{
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}