#logo{
    width: 80px;
}

#logo:hover{
    filter: drop-shadow(0 1px 1px rgb(75, 75, 75));
}

#botonNav:hover{
    color: #49ac9f;
}

#btnPublicaciones:hover{
    color: #49ac9f;
}

#btnPublicaciones:hover::after{
    content: "Publicaciones";
    color: #49ac9f;
}

#btnPerfil:hover{
    color: #49ac9f;
}

#btnPerfil:hover::after{
    content: "Perfil";
    color: #49ac9f;
}

#btnSubir:hover{
    color: #49ac9f;
}

#btnSubir:hover::after{
    content: "Postear";
    color: #49ac9f;
}

#btnSalir:hover{
    color: #49ac9f;
}

#btnSalir:hover::after{
    content: "Salir";
    color: #49ac9f;
}

#btnIngresar:hover{
    color: #49ac9f;
}

#btnIngresar:hover::after{
    content: "Ingresar";
    color: #49ac9f;
}

#btnMensajes:hover{
    color: #49ac9f;
}

#btnMensajes:hover::after{
    content: "Mensajes";
    color: #49ac9f;
}