#botonRegistrarme{
    background-color: #7bffc6;
    color: white;
    font-weight: bold;
    border: none!important;
}
#botonRegistrarme:hover{
    color: black;
    background-color: #7bffc6;
}
.errvalidacion{
    border-color: #dc3545 !important;
}