.botonRegistrarme{
    background-color: #7bffc6;
    color: white;
    font-weight: bold;
    border: none!important;
}
.botonRegistrarme:hover{
    color: black;
    background-color: #7bffc6;
}
.errvalidacion{
    background-color: #f8d7da !important;
}